  <img src="/assets/thankyou1.jpeg" height="450px" width="100%">
  <br> <br>
  <div style=" text-align:center;"> 
  <br>
   <h4>Thank you for shopping with us!</h4><br>
  <br>
   <h4> your order has been processed.</h4><br >
  <br>
  <h4>A detailed email has been sent.<h4><br /><br>

<a href="/gallery/index">Click here to continue the shopping</a>
</div>